<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGSmO2RGgWMW7IPz_Dw9udjxJoZdGJdpI</string>
	<key>GCM_SENDER_ID</key>
	<string>642353702702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sprint</string>
	<key>PROJECT_ID</key>
	<string>proyecto-flutter-adrian-javi</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-flutter-adrian-javi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642353702702:ios:14ca073de77b1b915cfcbf</string>
</dict>
</plist>